@{
    ViewBag.Title = "Home";
    Projeto_CT.Models.usuario user = (Projeto_CT.Models.usuario)ViewBag.usuario;
}

<div class="text-justify">
    <h2 class="Bem_vindo">Olá @user.nome</h2>
</div>
<br />
<ul class="nav nav-tabs">
    <li>
        <a class="nav-link" href="/Aluno/telaCadastro">Cadastrar aluno</a>
    </li>
    <li>
        <a class="nav-link" href="/Aluno/telaListarAlunos">Listar alunos</a>
    </li>
    <li>
        <a class="nav-link" href="/Login/logout">Sair</a>
    </li>
</ul>
<br />
<br />
<br />
<div class="text-center">

</div>