@Model Projeto CT.Models.usuario
@{
    ViewBag.Title = "Home";
}

<div class="text-justify">
    <h2 class="Bem_vindo">Olá @Model.nome</h2>
</div>
<br />
<ul class="nav nav-tabs">
    <li>
        <a class="nav-link" href="#">Cadastrar aluno</a>
    </li>
    <li>
        <a class="nav-link" href="#">Listar alunos</a>
    </li>
    <li>
        <a class="nav-link" href="/Login/logout">Sair</a>
    </li>
</ul>
<br />
<br />
<br />
<div class="text-center">

</div>